.alertCustom {       
}

.error {
    border: solid 2px #ff0000;
}
.content-alert {
    right: 10px;
    margin: 5px;
    position: fixed;
    z-index: 999;
}


.btn-filter{
    position:absolute;
    bottom:0;
    width:80%;
}