 .component
{
    display: none;
}

.table-examenes {
    font-size: 12px;
    margin: auto;
    width: 90%;
}

.child {
    display: none;
}


.table-examenes-profile {
    font-size: 12px;
    margin: auto;
    width: 90%;
}

.table-examenes-profile-UnSelected {
    font-size: 12px;
    margin: auto;
    width: 90%;
}

.col-center {
    text-align: center;
}

.input-numeric {
    width: 80px;
}

.table-main {
    margin-bottom: 0px;
}

.table-total {
    padding-top: 0px;
    padding-bottom: 0px;
}

.salePrice{
    margin:auto;
}

.EMPO {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.EMOP {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.EMOR {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}