@using BE
@{
    var usuarioSession = (SessionModel)Session[Resources.Constante.SessionUsuario];
}

@section Styles{
    <link rel="stylesheet" href="~/assets/plugins/dropify/dist/css/dropify.min.css">

    <style type="text/css">
        .invalid-feedback .has-error-required {
            display: none !important;
        }
    </style>
}



<div class="container-fluid p-0 div-dashboard">
</div>



@section scripts{

    <script src="~/assets/plugins/dropify/dist/js/dropify.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.dropify').dropify();
            $(document).ajaxStop(function () {
                $('.dropify').dropify();
            });
        });
    </script>
}