
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sigesoft</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/plugins/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/assets/plugins/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/plugins/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/plugins/Login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/plugins/Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/assets/plugins/Login/vendor/select2/select2.css" rel="stylesheet" />
    <!--===============================================================================================-->
    
    <link href="~/assets/plugins/Login/css/util.css" rel="stylesheet" />
    <link href="~/assets/plugins/Login/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <style>
        .container-login100 {
            background: linear-gradient(-135deg, #a9c1dc, #2e548f);
        }

        .login100-form-btn {
            background: #2e548f;
        }

        .focus-input100 {
            color: rgb(46, 84, 143);
        }
    </style>
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="padding-top: 40px;">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/assets/plugins/Login/images/Isotipo SalusLaboris.png" />
                    <img src="~/assets/plugins/Login/images/letras.png" />
                </div>

                <form id="loginform" action="/Session/LoginAuthentication" method="post" class="login100-form validate-form">
                    <span class="login100-form-title" style="padding-bottom: 10px;">
                        <img src="~/assets/plugins/Login/images/SIGESOFT2.fw.png" style="width: 250px;" alt=""/>
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Usuario es requerido">
                        <input class="input100" type="text" name="username" placeholder="Usuario">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password es requerido">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Iniciar Sesion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/assets/plugins/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/plugins/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/plugins/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/plugins/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/plugins/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/assets/plugins/Login/js/main.js"></script>

    
    @*<div class="main">
        <div class="container">
            <center>
                <div class="middle" style="margin-left: 50px !important;">
                    <div id="login">
                        <form id="loginform" action="/Session/LoginAuthentication" method="post">

                            <fieldset class="clearfix">

                                <p><span class="fa fa-user"></span><input type="text" name="username" required="" placeholder="Nombre de Usuario"></p>
                                <!-- JS because of IE support; better: placeholder="Username" -->
                                <p>
                                    <span class="fa fa-lock"></span><input name="password" type="password" required="" placeholder="Contraseña">
                                </p> <!-- JS because of IE support; better: placeholder="Password" -->

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;"></span>
                                    <span style="width:50%; text-align:right;  display: inline-block;">
                                        <input type="submit" value="Iniciar">
                                    </span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        </form>

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">
                        <img src="~/assets/images/SIGESOft.png" style="width: 540px;margin-left: 45px;" alt="">
                        <div class="clearfix"></div>
                    </div>

                </div>
            </center>
        </div>

    </div>

    <script src="~/assets/plugins/Login/js/jquery.min.js"></script>
    <script src="~/assets/plugins/Login/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    *@
</body>

</html>