@using BE
@{
    var usuarioSession = (SessionModel)Session[Resources.Constante.SessionUsuario];
}

<div class="modal fade" id="AccountSettingModal" role="dialog" tabindex="-1" aria-labelledby="AccountSettingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">
                    Configuración de Cuenta
                </h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Empresa </label>
                    <select id="ddlConfCompany" class="selectpicker" data-placeholder="Seleccione una empresa...">
                        <option value="-1">--Seleccionar--</option>
                        @foreach (var comp in usuarioSession.Companies)
                        {
                        <option value="@comp.CompanyId">@comp.CompanyName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Rol </label>
                    <select id="ddlConfRole" class="selectpicker" data-placeholder="Seleccione un Rol...">
                        <option value="-1">--Seleccionar--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Notificaciones </label>
                    <div class="box-inline mar-rgt">
                        <input id="chkNotification" type="checkbox">
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button id="btn-configuration-save" class="btn btn-primary" data-dismiss="modal">Guardar Configuración</button>
            </div>
        </div>
    </div>
</div>