
<style>
    .component{
        display:none;
    }

    .table-examenes {
        font-size: 12px;
        margin: auto;
        width: 90%;        
    }

</style>
<link href="~/assets/css/pages/floating-label.css" rel="stylesheet" />
<div class="row">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Cotización: 0001</h3>
        <p class="text-muted m-b-30 font-13"> Datos de cotización</p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form class="floating-labels">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">RUC</label>
                            <input type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Empresa</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">Distrito</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Dirección</label>
                            <input type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Sede</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">Tipo de Servicio</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Primer Contacto</label>
                            <input type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Correo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="card card-body">
        @*<table class="table color-table primary-table">*@
        @*<table class="table color-table muted-table">*@
        <table class="table color-bordered-table info-bordered-table">
            <thead>
                <tr>
                    <th></th>
                    <th>PERFIL</th>
                    <th>SERVICIO</th>
                    <th>N° EXAMENES</th>
                    <th>SUBTOTAL</th>
                </tr>
            </thead>
            <tbody>

                <!-- ============================================================== -->
                <!-- Perfil 1 -->
                <!-- ============================================================== -->
                <tr id="perfil-1">
                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-1')"></i></td>
                    <td>Administrativo</td>
                    <td>Preocupacional</td>
                    <td>15</td>
                    <td>184</td>
                </tr>
                <tr class="perfil-1"  style="display:none"  >
                    <td colspan="5">
                        <table class="table-examenes" >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>EXAMENES - PERFIL</th>
                                    <th>PRECIO MÍNIMO</th>
                                    <th>PRECIO LISTA</th>
                                    <th>PRECIO VENTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="perfil-1-Lab">
                                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-1-Lab')"></i></td>
                                    <td colspan="4">Laboratorio</td>
                                </tr>
                                <tr class="component perfil-1-Lab">
                                    <td></td>
                                    <td>Glucosa</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-1-Lab">
                                    <td></td>
                                    <td>Triglicéridos</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-1-Lab">
                                    <td></td>
                                    <td>Examen Completo de Orina</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>

                                <tr id="perfil-1-Psico">
                                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-1-Psico')"></i></td>
                                    <td colspan="4">Psicología</td>
                                </tr>
                                <tr class="component perfil-1-Psico">
                                    <td></td>
                                    <td>Test de Shihara</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-1-Psico">
                                    <td></td>
                                    <td>Test de la Mosca</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-1-Psico">
                                    <td></td>
                                    <td>Examen Psicológico</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>



                <!-- ============================================================== -->
                <!-- Perfil 2 -->
                <!-- ============================================================== -->
                <tr id="perfil-2">
                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-2')"></i></td>
                    <td>Minero</td>
                    <td>Anual</td>
                    <td>15</td>
                    <td>184</td>
                </tr>
                <tr class="perfil-2"  style="display:none">
                    <td colspan="5">
                        <table class="table-examenes">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>EXAMENES - PERFIL</th>
                                    <th>PRECIO MÍNIMO</th>
                                    <th>PRECIO LISTA</th>
                                    <th>PRECIO VENTA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="perfil-2-Lab">
                                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-2-Lab')"></i></td>
                                    <td colspan="4">Laboratorio</td>
                                </tr>
                                <tr class="component perfil-2-Lab">
                                    <td></td>
                                    <td>Glucosa</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-2-Lab">
                                    <td></td>
                                    <td>Triglicéridos</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-2-Lab">
                                    <td></td>
                                    <td>Examen Completo de Orina</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr id="perfil-2-Psico">
                                    <td><i class="fa fa-plus text-inverse m-r-10" onclick="show('perfil-2-Psico')"></i></td>
                                    <td colspan="4">Psicología</td>
                                </tr>
                                <tr class="component perfil-2-Psico">
                                    <td></td>
                                    <td>Test de Shihara</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-2-Psico">
                                    <td></td>
                                    <td>Test de la Mosca</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                                <tr class="component perfil-2-Psico">
                                    <td></td>
                                    <td>Examen Psicológico</td>
                                    <td>10</td>
                                    <td>13</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script>
    //$('table table').hide();
    //$('td > a').on('click', function (e) {
    //    e.preventDefault();
    //    $(this).closest('tr').next().find('table:first').toggle();
    //});

    function show(value) {        

        var td = $($("#" + value + " td")[0]).find("i");
        
        
        let pClass = '.' + value;        
         if ($(pClass).css("display") == "none") {
             $(pClass).show();
             td.addClass('fa-minus');
             td.removeClass('fa-plus');
        }
        else {
             $(pClass).hide();
             td.removeClass('fa-minus');
             td.addClass('fa-plus');

             
             
        }       
    }
</script>