@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        th.dt-center, td.dt-center {
            text-align: center;
        }
    </style>
}
<div class="card mb-2">
    <div class="card-body pt-2 pb-2">
        <h3 class="card-title">Listado de Usuarios</h3>
        <h5 class="card-subtitle mb-0">Mantenimiento de Usuarios</h5>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <button onclick="openModalUser(0)" class="btn btn-success waves-effect waves-light m-b-10">Nuevo Usuario</button>
        <div class="table-responsive m-t-20">
            <table id="table-systemusers" class="table table-bordered table-hover">
                <thead class="table-info">
                    <tr>
                        <th>Usuario</th>
                        <th class="text-nowrap">Editar</th>
                        <th class="text-nowrap">Accesos</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalUser" tabindex="-1" role="dialog" aria-labelledby="TrackingModalLabel1">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="labelModalUser">Nuevo Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>            
            <div class="modal-body" style="padding: 0">
                <div class="form-group col-12">
                    <label for="txtComentary">Primer Nombre</label>
                    <input type="text" id="inputFirstName" name="inputFirstName" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Apellido Paterno</label>
                    <input type="text" id="inputFirstLastName" name="inputFirstLastName" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Apellido Materno</label>
                    <input type="text" id="inputSecondtLastName" name="inputSecondtLastName" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Email</label>
                    <input type="text" id="inputEmail" name="inputEmail" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Usuario</label>
                    <input type="text" id="inputUserName" name="inputUserName" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Contraseña</label>
                    <input type="password" id="inputPassword1" name="inputPassword1" class="form-control" value="" />
                </div>
                <div class="form-group col-12">
                    <label for="txtComentary">Repita Contraseña</label>
                    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="SaveUser()" type="button" class="btn btn-warning" data-dismiss="modal">Grabar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/APIController.js"></script>
    <script>

        $(document).ready(function () {

            APIController.GetAllSystemUser().then((res) => {
                renderTable(res.Data);
            });
        });

        function renderTable(data) {
            let content = "";
            for (var i = 0; i < data.length; i++) {

                content += "<tr>";
                content += "<td>" + data[i].UserName + "</td>";
                content += "<td><a onclick='openModalUser("+data[i].SystemUserId+")' data-toggle='tooltip'  data-original-title='Usuario'><i class='fa fa-user btn waves-effect waves-light btn-secondary'></i></a></td>";
                content += "<td><a onclick='registerAccess("+data[i].SystemUserId+")' data-toggle='tooltip'  data-original-title='Registrar Accesos'><i class='fa fa-lock btn waves-effect waves-light btn-secondary'></i></a></td>";
                content += "</tr>";
            }

            $('#table-systemusers tbody').append(content);

            $('#table-systemusers').dataTable({
                "columns": [{'width':'90%'},{'width':'5%',"className":"dt-center"},{'width':'5%',"className":"dt-center"}],
                dom: 'lfrtip',
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        }

        function registerAccess(id) {
            var url = @SigesoftWebUI.Models.Script.Action("Register", "SystemUser", new { id="js:id"});
            location.href = url;
        }

        function openModalUser(id) {    
            clearModal();
            if (id != 0) {
                $("#labelModalUser").html("Editar Usuario");
                APIController.GetUser(id).then((res) => {
                    let dataUser = res.Data;
                    APIController.GetPerson(res.Data.PersonId).then((res) => {
                        let dataPerson = res.Data;                            
                        $("#inputFirstName").val(dataPerson.FirstName);
                        $("#inputFirstLastName").val(dataPerson.FirstLastName);
                        $("#inputSecondtLastName").val(dataPerson.SecondLastName);
                        $("#inputEmail").val(dataUser.Email);
                        $("#inputUserName").val(dataUser.UserName);

                    });
                });
            } else {
                $("#labelModalUser").html("Nuevo Usuario");
            }

            $("#ModalUser").modal("show");
        }

        function clearModal() {
            $("#inputFirstName").val("");
            $("#inputFirstLastName").val("");
            $("#inputSecondtLastName").val("");
            $("#inputEmail").val("");
            $("#inputUserName").val("");
        }
    </script>

}
