@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        th.dt-center, td.dt-center {
            text-align: center;
        }
    </style>
}
<div class="card mb-2">
    <div class="card-body pt-2 pb-2">
        <h3 class="card-title">Listado de Usuarios</h3>
        <h5 class="card-subtitle mb-0">Mantenimiento de Usuarios</h5>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive m-t-20">
            <table id="table-systemusers" class="table table-bordered table-hover">
                <thead class="table-info">
                    <tr>
                        <th>Usuario</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/APIController.js"></script>
    <script>

        $(document).ready(function () {

            APIController.GetAllSystemUser().then((res) => {
                renderTable(res.Data);
            });
        });

        function renderTable(data) {
            let content = "";
            for (var i = 0; i < data.length; i++) {

                content += "<tr>";
                content += "<td>"+data[i].UserName+"</td>";
                content += "<td>";                
                content += "<a onclick='updateResult("+data[i].SystemUserId+")' data-toggle='tooltip'  data-original-title='Edit'><i class='fa fa-pencil btn waves-effect waves-light btn-secondary'></i></a>";
                content += "</td>";
                content += "</tr>";
            }

            $('#table-systemusers tbody').append(content);

            $('#table-systemusers').dataTable({
                "columns": [{'width':'95%'},{'width':'5%',"className":"dt-center"}],
                dom: 'lfrtip',
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        }

        function updateResult(id) {
            var url = @SigesoftWebUI.Models.Script.Action("Register", "SystemUser", new { id="js:id"});

            location.href = url;
    }
    </script>

}
