@section Styles{
    <style>
        .icon-printer {
            color: #50ADF5;
            cursor: pointer;
        }

        .icon-star {
            cursor: pointer;
        }

        .icon-bomb {
            cursor: pointer;
        }
        ul {
            list-style-type: none;
        }
    </style>
    <link href="~/assets/plugins/wizard/steps.css" rel="stylesheet" />
    <link href="~/assets/plugins/css-chart/css-chart.css" rel="stylesheet" />
}
<div>
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item" style="display:none"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

            </ul>
            <ul style="padding-right: 100px;">
                <li>Fecha de Agenda: <strong id="lblinfo"></strong></li>
                <li>Citas encontradas: <strong id="lblTotalSearch"></strong></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box">
                    <a class="nav-link hidden-sm-down waves-effect waves-dark" style="font-size:x-large" href="#"><i class="ti-search"></i></a>
                    <div class="app-search" style="display: none;">
                        <input type="text" id="search-value" onkeyup="this.value = this.value.toUpperCase();"  onkeypress="search(event)" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- mega menu -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                    <div class="dropdown-menu animated bounceInDown">
                        <ul class="mega-dropdown-menu row">

                            <li class="col-md-4">
                                <h4 class="m-b-20">Fecha de Agenda</h4>
                                <div class="text-center">
                                    <center>
                                        <div id="datepicker-inline"></div>
                                    </center>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <h4 class="m-b-20">Población <span class="label label-success label-rounded" id="totalPopulation"></span></h4>
                                <div id="container"></div>
                            </li>
                            <li class="col-md-4">
                                <h4 class="m-b-20">Otras Opciones</h4>
                                <!-- Accordian -->
                                <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Nueva Cita
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputState">Tipo</label>
                                                            <select id="ddlDocTypeId" class="form-control">
                                                                <option selected>DNI</option>
                                                                <option>Pasaporte</option>
                                                                <option>PTP</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCity">Número</label>
                                                            <input type="text" class="form-control" id="txtNroDoc">
                                                        </div>
                                                    </div>
                                                    <div class="form-row" style="text-align:right">
                                                        <div class="form-group col">
                                                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Agendar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="row content-target">
</div>
    <div class="row wizard-schedule">
        <div class="col-12">
            <div class="card">
                <div class="card-body wizard-content ">
                    <h4 class="card-title" onclick="backSchedule()" style="cursor:pointer">Volver a la bandeja</h4>                    
                    <form action="#" class="tab-wizard wizard-circle">
                        <!-- Step 1 -->
                        <h6>Datos Personales</h6>
                        <section>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFirstName">Nombres :</label>
                                        <input type="text" class="form-control" id="txtFirstName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFirstLastName">Ape. Paterno :</label>
                                        <input type="text" class="form-control" id="txtFirstLastName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtSecondLastName">Ape. Materno :</label>
                                        <input type="text" class="form-control" id="txtSecondLastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtDateBirth">Fecha Nacimiento</label>
                                        <input type="datetime" class="form-control" id="txtDateBirth">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ddlDocType">Tipo Documento</label>                                        
                                        <select class="form-control" id="ddlDocType">
                                            <option value="1">DNI</option>
                                            <option value="2">Pasaporte</option>
                                            <option value="3">PTP</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNroDoc">Nro. Documento</label>
                                        <input type="text" class="form-control" id="txtNroDoc">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ddlGenderId">Género</label>
                                        <select class="form-control" id="ddlGenderId">
                                            <option value="1">Masculino</option>
                                            <option value="2">Femenino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtPhone">Celular</label>
                                        <input type="tel" class="form-control" id="txtPhone">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtEmail">Email :</label>
                                        <input type="email" class="form-control" id="txtEmail">
                                    </div>
                                </div>
                            </div>                            
                        </section>
                        <!-- Step 2 -->
                        <h6>Foto/Huella/Firma</h6>
                        <section>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="labelPhotoWorker">Foto</label>
                                        <div class="col-md-8 text-center">
                                            <img src='~/assets/images/users/10897627.jpg' id="img-Schedule-Photo" alt='user' class='img-thumbnail  img-responsive'>
                                        </div>                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 text-center">
                                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-xs btn-danger">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="labelFingerprint">Huella</label>
                                        <div class="col-md-8 text-center">
                                            <img src='~/assets/images/fingerprint/25770568.png' id="img-Schedule-Fingerprint" alt='user' class='img-thumbnail  img-responsive'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 text-center">
                                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-xs btn-danger">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="shortDescription1">Firma</label>
                                        <div class="col-md-8 text-center">
                                            <img src='~/assets/images/signature/25770568.png' id="img-Schedule-Signature" alt='user' class='img-thumbnail img-responsive'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 text-center">
                                            <button type="button" class="btn waves-effect waves-light btn-rounded btn-xs btn-danger">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h6>Protocolo</h6>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="int1">Protocolo :</label>
                                        <input type="text" class="form-control" id="int1">
                                    </div>
                                    <div class="form-group">
                                        <label for="int1">Empresa :</label>
                                        <input type="text" class="form-control" id="int1">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="jobTitle2">Lista de Exámenes</label>
                                        
                                    </div>                                    
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h6>Agenda </h6>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="behName1">Fecha de Agenda</label>
                                        <div class="text-center">
                                            <center>
                                                <div id="datepicker-Schedule"></div>
                                            </center>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtcommentary">Comentario</label>
                                        <textarea name="decisions" id="txtcommentary" rows="4" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Rate Interviwer :</label>
                                        <div class="c-inputs-stacked">
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">1 star</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">2 star</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">3 star</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">4 star</span>
                                            </label>
                                            <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">5 star</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @section scripts{

        <script src="~/assets/plugins/wizard/jquery.steps.min.js"></script>
        <script src="~/assets/plugins/wizard/jquery.validate.min.js"></script>
        <script src="~/assets/plugins/wizard/steps.js"></script>
        <script>

            $(document).ready(function () {

                $(".wizard-schedule").hide();

                $('#datepicker-inline').datepicker({
                    todayHighlight: true,
                    "dateFormat": "dd/mm/yy",
                    onSelect: function (dateText) {
                        $("#lblinfo").text(dateText);
                        ApiSearch(undefined);
                        $( ".search-box" ).trigger( "click" );
                    }
                });

                $("#lblinfo").width("330");
                $("#lblinfo").text($('#datepicker-inline').val());

                $("#datepicker-Schedule").datepicker({
                    todayHighlight: true,
                    "dateFormat": "dd/mm/yy"
                });

                $("#txtDateBirth").datepicker({                   
                    "dateFormat": "dd/mm/yy"
                });

                
                ApiSearch(undefined);
                Chart();
            });
            
            function search(e) {
                if (e.which == 13) {
                    $(".app-search").toggle(500);
                    let data = {
                        Value: $(e.target).val().trim(),
                        StartDate: $("#datepicker-inline").val(),
                        EndDate: $("#datepicker-inline").val()
                    }
                    ApiSearch(data);
                    $(e.target).val("");
                }
            }

            function ApiSearch(data) {
                if (data === undefined) {
                    data = {
                    Value: "",
                    StartDate: $("#datepicker-inline").val(),
                    EndDate: $("#datepicker-inline").val()
                }
                }
                APIController.SearchReception(data).then(res => {
                    $("#totalPopulation").text(res.Data.length);
                    $(".content-target").empty();
                    $("#lblTotalSearch").text(res.Data.length);
                    res.Data.map(ele => {
                        renderTarget(ele,data.Value);
                    });
                    
                });
            }

            function renderTarget(dataSchedule, value) {
                
                let content = "";
                content += "<div class='col-md-6 col-lg-6 col-xlg-4'>";
                content += "<div class='card card-body'>";
                content += "<div class='d-flex no-block'>";
                content += "<h4 class='card-title'><span class='lstick'></span>" + dataSchedule.FullName + "</h4>";
                content += "<div class='btn-group ml-auto m-t-10'>";
                content += "<a href='JavaScript:void(0)' class='icon-options-vertical link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'></a>";
                content += "<div class='dropdown-menu dropdown-menu-right'>";
                content += "<a class='dropdown-item' href='javascript:void(0)'>INICIAR</a>";
                content += "<a class='dropdown-item' href='javascript:void(0)'>REAGENDAR</a>";
                content += "<a class='dropdown-item' href='javascript:void(0)'>CANCELAR</a>";
                content += "<div class='dropdown-divider'></div>";
                content += "<a class='dropdown-item' href='javascript:void(0)'>TRABAJADOR</a>";
                content += "<div class='dropdown-divider'></div>";
                content += "<a class='dropdown-item' href='javascript:void(0)'>EXÁMENES</a>";   
                content += "</div>";
                content += "</div>";
                content += "</div>";
                content += "<div class='row'>";
                content += "<div class='col-md-4 col-lg-3 text-center'>";
                content += "<div onclick='ModalStartCircuit(" + dataSchedule.ScheduleId + ")' style='cursor: pointer;'>";
                content += "<div data-label='10%' class='css-bar "+PorcentajeRandon()+" css-bar-lg '><img src='../assets/images/users/"+dataSchedule.NroDocument.split('').reverse().join('')+".jpg' height='150' width='150' alt='user' class='img-circle img-responsive'></div>";
                content += "</div>";
                content += "</div>";
                content += "<div class='col-md-8 col-lg-9'>";
                content += "<h4 class='box-title m-b-0'>" + dataSchedule.CompanyName + "</h4><h4 class='box-title m-b-0'>" + dataSchedule.ProtocolName + "</h4>";
                content += "<br>";
                content += " <h6>Puesto: " + dataSchedule.CurrentOccupation + "</h6> <h6>Documento:  " + dataSchedule.NroDocument + "</h6>";                
                content += "<address>";
                content += dataSchedule.WorkerEmail;
                content += "<br>";
                //content += "<br>";
                content += "<abbr title='Celular'>C:</abbr> " + dataSchedule.WorkerCell;
                content += "</address>";
                content += "</div>";
                content += "<div class='row' style='font-size:x-large; text-align:right; width:100%'>";
                content += "<div class='col-12'>";
                content += "<i class='mdi mdi-printer-settings icon-printer'></i>";
                content += "<i class='mdi mdi-account-star icon-star'></i>";
                content += "<i class='mdi mdi-bomb icon-bomb'></i>";
                content += "</div>";
                content += "</div>";
                content += "</div>";
                content += "</div>";
                content += "</div>";
                
                let reg = new RegExp(value, 'gi');                
                let toStr = String(reg);
                var color = (toStr.replace('\/g', '|')).substring(1);
                var colors = color.split("|");
                if (colors.indexOf(value) > -1) {
                    console.log("??");
                    let word = new RegExp(value, 'gi');
                    content = content.replace(word, "<span style='background:yellow;'>"+value+"</span>");
                }

                $(".content-target").append(content);
            }

            function ModalStartCircuit(id) {
                console.log("ID", id);  
                APIController.GetDataSchedule(id).then(res => {                    
                    fillDataFormModalStartCircuit(res.Data);
                    $(".content-target").hide("blind", {}, 1000, function () {
                        $(".wizard-schedule").show();
                    });

                });                
            }

            function fillDataFormModalStartCircuit(data) {
                $("#txtFirstName").val(data.FirstName);
                $("#txtFirstLastName").val(data.FirstLastName);
                $("#txtSecondLastName").val(data.SecondLastName);
                $("#txtDateBirth").val(formatDateForCalendar(data.DateBirth));
                $("#ddlDocType").val(data.DocType);
                $("#txtNroDoc").val(data.NroDocument);
                $("#ddlGenderId").val(data.DocType);
                $("#txtPhone").val(data.NroDocument);
                $("#txtEmail").val(data.NroDocument);        
                //let nroDocRevese = data.NroDocument.split('').reverse().join('') + ".jpg";
                //console.log("FOTO",nroDocRevese);
                //$("#img-Schedule-Photo").attr("src", "~/assets/images/users/25770568.jpg");
                //$("#img-Schedule-Fingerprint").attr("src", "~/assets/images/fingerprint/25770568.png");
                //$("#img-Schedule-Signature").attr("src","~/assets/images/signature/25770568.png");
            }

            function backSchedule() {
                //$(".content-target").empty();
                //$(".wizard-schedule").hide("blind", {},500);
                //$(".content-target").show("blind", {}, 500);                
                //ApiSearch(undefined);
                location.reload();
            }

            function PorcentajeRandon() {
                var items = [
                    10, 20, 30, 50, 70, 100
                ];

                var item = items[Math.floor(Math.random() * items.length)];
                if (item == 100) {
                    return "css-bar-"+item+" css-bar-success";
                }
                return "css-bar-"+item+" css-bar-danger";
                
            }


            function Chart() {
                       // Build the chart
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'No iniciado',
                        y: 61.41,
                        sliced: true,
                        selected: true
                    }, {
                        name: 'En evaluación',
                        y: 11.84
                    }, {
                        name: 'Culminado',
                        y: 10.85
                    }]
                }]
            });

            }
     
        </script>
    }
